---
layout: default
title: Kim Lab | Research
categories:
- research
---
 

<center><h4>Ongoing and developing research projects. To be involved in our research, please see <a href="/join/">Join</a>.</h4></center>
 
<!--
<h4>To be involved in our research, please see <a href="https://jaeheekimlab.github.io/join/">Join</a>.</h4>
--> 

<!--
<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="smallspacer"></div>
-->

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<!--
<div class="hugespacer"></div>
-->

{% assign counter = 0 %}

{% for proj in site.categories.research %}

    {% if forloop.first %}
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
    
    {% else %}
        {% assign counter = counter | plus: 1 %}
        {% assign mod = counter | modulo: 2 %}
        {% if mod == 0 %}
    	    </div>
    	    <div class="row">
        {% endif %}
    {% endif %}

    <div class="col-lg-6 paperbox">
        
        {% if mod == 1 %}
        <div class="media align-middle">
            <a href="{{ proj.url }}">
                <img class="ml-2" width=100 class="media-object" src="{{ proj.image }}">
                    </a>
            <div class="media-body">
                <div class="medhead ml-4 mt-3"><a href="{{ proj.url }}" class="off">{{ proj.title }}</a></div>
            </div>

        </div>
        
        {% else %}
        <div class="media align-middle">
            <a href="{{ proj.url }}">
                <img class="ml-0" width=100 class="media-object" src="{{ proj.image }}">
                    </a>
            <div class="media-body">
                <div class="medhead ml-4 mt-3 mr-2"><a href="{{ proj.url }}" class="off">{{ proj.title }}</a></div>
            </div>

        </div>
        
        {% endif %}
        
        <!--
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
        <div class="smallspacer"></div>
        -->
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
        
        <!--
        <div class="hugespacer"></div>
        -->
        
    </div>
{% endfor %}
</div>

